{% extends 'Esquema.html' %}

{% block title %}
    Pagina Principal
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form action="{% url 'habitaciones' %}" method="post">

            {% csrf_token %}

            {{form.as_p}}

            <input type="submit" value="Ver habitaciones">



        </form>

        {% if reservaciones %}
            <ul>
                {% for reserva in reservaciones %}
                    <li>
                        {{reserva}}
                    </li>
                    <hr>
                {% endfor %}
            </ul>

        {% else %}

            <p>No tiene reservas aun</p>

        {% endif %}

        <div class="container">

        </div>
    </div>
{% endblock %}